@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #10e8a0;
  color: rgb(60, 14, 14);
  flex-direction: column;
}

.main-header{
  font-family: 'Montseratt', sans-serif;
}

.create-form label{
  color: rgb(27, 26, 26) !important;
  font-family: 'Montseratt', sans-serif;
  font-size: 12px !important
}

.nav button{
  background-color: rgb(255, 157, 0);
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  color:rgb(60, 14, 14)
}

.data-container{
  display: flex;
  flex-wrap:wrap;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.birds{
  padding: 10px 16px;
  margin:20px 0;
  border-bottom: 1px solid #da7f7f;
  max-width: 20%;
  max-height: 20%;
  max-width: 20%;
}

.birds img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40%
}